# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
crash.log

# Mac/OS
.DS_Store

# IDEs
.vscode/
.idea/

# Secrets (Just in case)
*.pem
*.key
.env

# Kubernetes and cloud credentials
kubeconfig*
*.kubeconfig
aws-credentials*
